.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
xcuserdata
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
gttdata-release.keystore
android/keystore.properties
node_modules/
npm-debug.log
yarn-error.log
.metro-health-check*
/coverage
.env
